# Environment & Credentials
.env
**/.env
.venv/
env/
venv/

# Dependencies
node_modules/
**/node_modules/

# Python & AI
__pycache__/
*.pyc
*.pt
runs/
dataset/train/
dataset/val/

# Build & Dist
dist/
build/

# IDEs & System
.vscode/
.idea/
.DS_Store
*.log

# Project Documentation (Local only)
system_design.md
sequence_diagrams.md